.acomodar{  
     /* display: block; */
    float: left; 
    margin-left:165px ;
    margin-top: 30px; 
    width: 400px;
}

@media(max-width:540px){
    .acomodar{
        float: left; 
    margin-left: 0px ;
    margin-top: 30px; 
    width: 320px;
    }
}

@media(max-width:360px){
    .acomodar{
        float: left; 
    margin-left: 0px ;
    margin-top: 30px; 
    width: 260px;
    }
}
html, body { 
    max-height: 100%;
    max-width: 100%; 
    overflow-y: hidden !important;
    
}