 <!-- espiner al momento de cargar  -->
 <div class="row" *ngIf="!personaje; divPersonaje">
    <div class="col" >
        <mat-spinner class="mx-auto" ></mat-spinner> 
    </div>
</div>  
<!-- el resultado de la busqueda  -->
<div #divPersonaje>
    <div class="row animate__animated animate__fadeIn">
        <div class="col-lg-12 col-md-3 col-sm-12 col-ms-12 col-xs-12 comodar">
            <img src="{{personaje?.image}}" class="tamano acomodar" >
        </div>
        <div class="col-6 acomodar">
            <h3>
            {{personaje?.name}}
            </h3>
            <p>{{personaje?.status}}</p>  
            <p>{{personaje?.species}}</p> 
            <p>{{personaje?.type}}</p>  
            <p>{{personaje?.id}}</p> 
            <p>{{personaje?.origin.name}}</p> 
        </div>
    </div>
    <!-- boton para regresar -->
    <button mat-fab color="primary" class="mt-3" routerLink="" ><mat-icon>arrow_back_ios</mat-icon></button>

</div>
